body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 60%;
  margin-bottom: 20px;
}

#fileInfo {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  height: 5em;
  margin-right: 10px;
  cursor: pointer;
  flex: 1;
}

button:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  input, button {
      width: 80%;
  }
}

@media (max-width: 480px) {
  input, button {
      width: 100%;
  }
}